.Rproj.user
.Rhistory
.RData
.Ruserdata
LCI.Bag.Labels.docx
LCI.Itineraries.week.of.2019.07.15.Lake Champlain.docx
LCI.Itineraries.week.of.2019.08.12.Sturgeon.Pool.docx
LCI.Itineraries.week.of.2019.08.12.Susquehanna.docx
LCI.Itineraries.week.of.2019.08.20.St.Lawrence.docx
LCI.Itineraries.week.of.2019.08.26.Lake.Champlain.docx
LCI.Itineraries.week.of.2019.09.02.Susquehanna.docx
LCI.Itineraries.week.of.2019.docx
LCI.Sample.Labels.docx
LCI.float.plan.week.of.2019.08.12.Parks.docx
LCI.float.plan.week.of.2019.08.12.Sturgeon.Pool.docx
LCI.float.plan.week.of.2019.08.12.Susquehanna.docx
LCI.float.plan.week.of.2019.08.20.St.Lawrence.docx
LCI.float.plan.week.of.2019.08.26.Lake.Champlain.docx
LCI.float.plan.week.of.2019.09.02.Parks.docx
LCI.float.plan.week.of.2019.09.02.Susquehanna.docx
LCI.float.plan.week.of.2019.docx
data
junk.bottles.csv
word_styles-reference-baglabels.docx
~$I.Itineraries.week.of.2019.06.24.susquehanna.docx
~$I.Itineraries.week.of.2019.07.29.Genesee.docx
~$I.Sample.Labels.2019.07.29.Genesee.docx
~$I.Sample.Labels.docx
~$I.float.plan.week.of.2019.06.24.susquehanna.docx
~$I.float.plan.week.of.2019.06.25.Lake.Champlain.docx
~$I.float.plan.week.of.2019.07.29.St.Lawrence.docx
~$I.float.plan.week.of.2019.docx
